.pt-overlay-content {
    z-index: 30;
    width: 100%;
    height: 100%;
}
.map-container {
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
}
#map {
    width: 100%;
    height: 100%;
}
.map-header {
    display: flex;
    padding: 10px;
    background: white;
}

.title {
    width: 100%;
}

.title>span {
    font-size: 26px;
}

.closeMap {
    height: 30px;
    margin: auto;
}